body {
  background-color: #717171;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
}

#titlebox {
  margin: .5em auto;
  width: 50%;

}

#urlbox {
  margin: .5em auto;
  width: 50%;
}
